.red-color{
    color: red;
}
h1{
    font-size: 55px;
    color:rgb(92, 92, 92);
}
body{
    font-family: 'Poppins', sans-serif;
 color: rgb(95, 94, 94);
     
}
 .half-width{
     width: 100%;
 }
 .half-width img{
     width:100%;
     padding-left: 5px;
 }
 .flexible-container{
     display: flex;
 }
    .button-Order-food{
        text-decoration: none;
        background-image: linear-gradient(salmon,red);
        border-radius: 25px;
        color: white;
        padding: 15px 30px;
        box-shadow: 10px 20px 30px red;
        
         
}
.mid-banar{
    background-image: url(images/shapes/Frame\ 58.jpg);
    margin-top: 100px;
}
.mid-img{
     height: 600px;
    width: 1300px;
    background-repeat: no-repeat;
}
.top-section{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    margin-left: 100px;
 
}
.mid-banar2{
    padding: 10px;
    padding-top: 80px;
}
.btn-position{
    margin-top: 90px;
}
.image-1st{
    height: 760px;
    width: 650px;
}
.my-recipies{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 40px;
}
h2{
    color: darkslategrey;
}
.food-project img{
  height: 260px;
  width: 310px;
  margin-left: 70px;
  padding: 25px;
  box-shadow: 10px 20px  50px red;
  border-radius: 30px;
  margin-bottom: 80px;
  
}
.flowers{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: 10px 20px 40px red;
    padding: 20px;
    width: 80%;
}
 .text-left{
     text-align: left;
 }
 .text-mid{
     text-align: center;
 }
 .text-right{
     text-align: center;
 }
 .background{
    box-shadow: 10px 20px 40px salmon;
    border-radius: 30px;
 }
 .footer{
     text-align: center;
     margin-top: 100px;
    padding-bottom: 100px;
     background-color:  rgb(18, 18, 32);
     color: white;
    
 }
 .pragraph{
     width: 80%;
 }